body{
    background-image:url(./img122/3_54dcd04be8230Anahit.jpg);
    background-repeat: repeat;
    background-size: 100%;
}

header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
    display: inline-block;
    min-height: 8vh;
	background-color: rgba(0, 0, 0, 0.399);
	transition: 0.3s ease background-color;
}


.meniu{
    text-decoration: none;
    margin: 1vh;
    float: right;
    padding: 2vh;
    font-size: 25px;
    color: white;
}
.meniu, .title{
    display: inline-block;
}

.title{
    margin: 2vh;
    font-size: 35px;
    color: rgb(255, 255, 255);
}

span{
    color: red;
}

.main{
background-color: white;
margin: 6% auto;
width: 87%;
box-sizing: border-box;
font-weight: 100;
}

.imgsize{
    height: 300px;
    margin: 10px;
}

.center{
    text-align: center;
    font-size: large;
}

.vernagir{
    text-align: center;
    font-size: 40px;
}
.texst{
    text-align: justify;
}

.texstsize{
    margin: 20px;
}

#more {
	display: none;
	color: black;
}

.Jsfail{
    margin: 2%;
}

.avetis{
    font-size:40px;
    text-align: center;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0; 
    width: 100%; 
    background-color: rgb(248, 188, 209) ; 
    color: rgb(0, 0, 0); 
    text-align: center; 
    height: 20px; 
    }